 <html>
        <head>
        <title>Registered</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header><img class="fine" src="static/logo.png"></header>
         <div class="booked">
       <form method="post" action="{{ url_for('cs') }}">
        <h2>Flight Cancellaton:</h2>
        <br/>
        <h3>Flight Name: <strong>{{ flightname}}</strong></h3>
        <br/><br/>
        <h3>Status: <strong>{{ flightdate }}</strong></h3>
        <br/><br/>
        <h3>Departure Location: <strong>{{ fromloc }}</strong></h3>
        <br/><br/>
        <h3>Arrival Location: <strong>{{ toloc }}</strong></h3>
        <br/><br/>
        <input type="submit" value="Cancel" />
        </div>
    </body>
</html>