<html>
    <head>
        <title>forms</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Flight Management System</h1>
        <form method="post" action="{{ url_for('save') }}">
          <label for="yourname">Enter your name:</label>
          <input type="text" name="yourname" /><br />
          <label for="youremail">Enter your email id:</label>
          <input type="text" name="youremail" /><br />
          <input type="submit" value="submit" />
          </form>
    </body>
</html>


